.left-menu{
    display: flex;
    width: 50%;
}

.navigation-home-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.2rem, 3vw, 1.8rem);
    font-family:"Cascadia Code", cursive;
    font-weight: bolder;
}

.nav-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 3em;
}

.listitem{
    display: flex;
    margin: 0 3em;
    height: 100%;
    width: 100%;
    align-items: center;
}

.item-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.create-button{
    background-color: #979eff;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

