@import url("./left-menu.css");
@import url("./right-menu.css");

header{
    width:100%;
    display:flex;
    min-height: 48px;
    background-color: #535bf2;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}


@media (max-width: 768px){
    nav{
        flex-direction: column;
    }
    .nav-items{
        margin: 0;
    }
    .listitem{
        margin: 0.5rem 0;
    }
}

