form{
    display: flex;
    flex-direction: column;
    height: 90%;
    background-color: #747bff;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    color: #1a1a1a;
    font-family: Bahnschrift;
}

form div{
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

form input{
    width: 100%;
    margin-top: 1px;
    padding: 0.9em;
    border: none;
    border-radius: 4px;
}

form span a{
    color: white;
}

form button{
    margin-top: 0.1em;
}

.TermsConditionLink{
    font-size: 16px;
    font-weight: lighter;
}

